body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0px 5px 20px;
  z-index: 1000;
}

.header::before {
  background-color: rgba(0, 0, 0, 0.0) !important;
  backdrop-filter: blur(0px);
  position: absolute;
  top: 0;
  content: "";
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header.scrolled {
  background-color: #212121;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar.scrolled .active a {
  color: #0f6e87;
}

.header .logo {
  display: flex;
}

.header .logo img {
  width: 40px;
  height: 40px;
}

.header .logo p {
  color: #fff;
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  top: 5px;
  left: 15px;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding-right: 50px;
}

.navbar ul li {
  margin-left: 1.75rem;
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: center;
  align-items: center;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

#checkbox {
  display: none;
}

.icons {
  display: none;
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.home-page .title {
  background-color: rgba(34, 110, 147, 1);
  background-image: url(../src/assets/simple-header-blended-small.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 40px 0px 30px 0px;
  color: white;
  width: 1351px;
}

.home-page .title h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 90px;
  padding-top: 30px;
}

.home-page .home-content {
  padding: 30px 0px 0px 90px;
}

.home-page .home-content div p {
  padding: 40px 0px 0px 0px;
  font-size: 15px;
  display: grid;
  width: 1100px;
  margin-bottom: 20px;
}

.course-page .title {
   background-color: rgba(34, 110, 147, 1);
  background-image: url(../src/assets/simple-header-blended-small.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 40px 0px 30px 0px;
  color: white;
  width: 1351px;
}

.course-page .title h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 90px;
  padding-top: 30px;
}

.course-page .courses-content {
  padding: 30px 0px 0px 90px;
}

.course-page .courses-content .headed {
  font-size: 17px;
}

.course-page .courses-content .courses .course {
  display: flex;
  margin-top: 50px;
}

.course-page .courses-content .courses .course div {
  margin: 20px 0px 0px 30px;
}

.course-page .courses-content .courses .course div h2  {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 43px;
  font-weight: 350;
  letter-spacing: 3px;
  color: #397d9e;
  padding: unset;
  margin: unset;
}

.course-page .courses-content .courses .course div p {
  color: #212121;
  font-size: 15px;
  font-weight: 400;
}

.course-page .courses-content .courses .course div a button {
  width: 700px;
  padding: 10px 0px;
  background-color: #1e6c93;
  border: none;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  font-size: 15px;
}

.course-page iframe {
  padding: 40px 0px 40px 90px;
}

.book-class .title {
  background-color: rgba(34, 110, 147, 1);
  background-image: url(../src/assets/simple-header-blended-small.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 40px 0px 0px 0px;
  color: white;
  width: 1351px;
  height: 300px;
}

.book-class .title h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 90px;
  padding-top: 20px;
}

.bookclass-page { 
  justify-self: center; 
  justify-content: center;  
  justify-items: center;  
  align-items: center;  
  margin-top: 50px;
}

.bookclass-page .columns .column form .book-heading { 
  border: 1px solid #dadce0;  
  border-top: 10px solid #4caf50;
  border-radius: 10px;
  width: 550px;
}

.bookclass-page .columns .column form .book-heading .head h3 {
  font-size: 30px;
  font-family:'Times New Roman', Times, serif;
  font-weight: 400;
  margin: unset;
  padding: 10px 0px 0px 30px;
}

.bookclass-page .columns .column form .book-heading .head p {
  margin: unset;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0px 0px 10px 30px;
}

.bookclass-page .columns .column form .book-heading .head .line-through {
  border-bottom: 1px solid #dadce0;
}

.bookclass-page .columns .column form .book-heading .gmail h3 {
  margin: unset;
  padding: 10px 0px 10px 30px;
}

.bookclass-page .columns .column form .book-heading .gmail .line-through {
  border-bottom: 1px solid #dadce0;
}

.bookclass-page .columns .column form .book-heading .gmail p {
  margin: unset;
  padding: 10px 0px 10px 30px;
  color: red;
  font-size: 15px;
}

.bookclass-page .columns .column form .booking {
  border: 1px solid #dadce0;
  border-radius: 10px;
  width: 520px;
  height: 130px;
  padding: 20px 0px 0px 30px;
  margin-top: 20px;
}

.bookclass-page .columns .column form .booking label {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 480;
}

.bookclass-page .columns .column form .booking input {
  outline: unset;
  border: unset;
  background-color: unset;
  border-bottom: 1px solid #dadce0;
  padding-top: 50px;
  width: 250px;
  color: black;
  font-size: 15px;
}

.bookclass-page .columns .column form .booking input::placeholder {
  font-size: 15px;
  position: absolute;
  bottom: 5px;
}

.bookclass-page .columns .column form .booking input:hover {
  border-bottom: 2px solid #4caf50;
  transition: border-bottom 0.9s ease-in-out;
}

.bookclass-page .columns .column form .avaliable-course {
  border: 1px solid #dadce0; 
  border-radius: 10px;
  padding: 20px 0px 30px 30px;
  margin: 20px 0px 10px 0px;
  width: 520px;
}

.bookclass-page .columns .column form .avaliable-course h2 {
  margin: unset;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding-bottom: 10px;
}

.bookclass-page .columns .column form .avaliable-course div {
  margin-top: 10px;
}

.bookclass-page .columns .column form .avaliable-course div label {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-left: 10px;
}

.bookclass-page .columns .column form .avaliable-course div input {
  outline: unset;
  background-color: unset;
  border: 2px solid green;
}

.bookclass-page .columns .column form .button {
  width: 100px;
  margin-bottom: 10px;
  padding: 8px 0px 8px 0px;
  background-color: #009100;
  border: unset;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.bookclass-page .columns .column form .clear-form {
  color: #009100;
  padding-left: 360px;
  font-size: 15px;
  font-weight: 500;
}

.bookclass-page .columns .column form small {
  color: #666363;
  font-size: 14px;
  padding-bottom: 20px;
}

.submission-result {
  justify-self: center;
  border: 1px solid #dadce0;
  margin: 50px 0px 50px 0px;
  width: 500px;
  height: 180px;
  border-radius: 10px;
  border-top: 7px solid #009100;
  padding-left: 30px;
}

.submission-result h3 {
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: unset;
  padding-top: 20px;
}

.book-class .columns .column .submission-result p {
  font-size: 15px;
  font-weight: 400;
  padding: 10px 0px 20px 0px;
}

.book-class .columns .column .submission-result a {
  color: #1e6c93;
}

.error {
  color: red;
  font-size: 16px;
}

.contact-page .title {
  background-color: rgba(34, 110, 147, 1);
  background-image: url(../src/assets/simple-header-blended-small.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 40px 0px 0px 0px;
  color: white;
  width: 1351px;
  height: 310px;
  position: relative;
  top: -35px;
}

.contact-page .title h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 90px;
  margin: unset;
  padding-top: 80px;
}

.contact-content {
  padding: 10px 0px 0px 90px;
}

.contact-content h2 {
  margin: unset;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: black;
}

.contact-content p {
  margin: unset;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 2;
  color: black;
}

.contact-content p a {
  color: #0f6e87;
  font-size: 18px;
}

.map-container {
  padding: 50px 0px 20px 70px;
}

.support-page .title {
  background-color: rgba(34, 110, 147, 1);
  background-image: url(../src/assets/simple-header-blended-small.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 40px 0px 30px 0px;
  color: white;
  width: 1351px;
}

.support-page .title h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 90px;
  padding-top: 30px;
}

.support-page .support-content {
  padding: 10px 0px 0px 80px;
}

.support-page .support-content .support-details {
  display: flex;
  gap: 50px;
}

.support-page .support-content .support-details .support {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
  margin: unset;
}

.support-page .support-content .last-p {
  display: grid;
  width: 1090px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2;
}

.team-page .title {
  background-color: rgba(34, 110, 147, 1);
  background-image: url(../src/assets/simple-header-blended-small.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 40px 0px 30px 0px;
  color: white;
  width: 1351px;
}

.team-page .title h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 90px;
  padding-top: 30px;
}

.team-page .meetourteam-content {
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
}

.team-page .meetourteam-content .meetourteam {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 230px;
}

.team-page .meetourteam-content .meetourteam .team {
  text-align: center;
  margin-bottom: -190px;
}

.team-page .meetourteam-content .meetourteam .team h2,p {
  margin: unset;
  padding: unset;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media (max-width: 768px) {
  .header .logo img {
    margin-left: 40px;
  }

  .header .logo p {
    display: none;
  }

  .navbar {
    position: absolute;
    top: 105%;
    left: 0;
    width: 300px;
    height: 0;
    background-color: #000000;
    transition: linear 0.1s;
    overflow: hidden;
    box-shadow: 250px 250px 250px rgba(0, 0, 0, 0.795);
  }

  .navbar ul {
    display: block;
    justify-content: unset;
  }

  .navbar ul li {
    margin: 20px 0px;
    justify-content: unset;
    align-items: unset;
  }

  #checkbox:checked ~ .icons #close-icon {
    display: block;
  }

  #checkbox:checked ~ .icons #open-icon {
    display: none;
  }

  #checkbox:checked ~ .navbar {
    height: 800px;
  }

  .icons {
    display: inline-flex;
    position: absolute;
    font-size: 25px;
  }

  #close-icon {
    display: none;
    background-color: #000000;
    padding: 27px 260px 10px 20px;
    margin-left: -20px;
  }

  .home-page .title {
    background-color: rgba(34, 110, 147, 1);
    background-image: url(../src/assets/simple-header-blended-small.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 40px 0px 0px 0px;
    color: white;
    width: 390px;
    height: 280px;
    margin-top: -110px;
  }

  .home-page .title h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 60px;
    line-height: 1;
    padding-top: 40px;
  }

  .home-page .home-content {
    padding: 30px 0px 0px 0px;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
  }

  .home-page .home-content div iframe {
    width: 350px;
    height: 160px;
    border: none;
  }

  .home-page .home-content div p {
    display: grid;
    width: 350px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: black;
  }

  .course-page .title {
    background-color: rgba(34, 110, 147, 1);
    background-image: url(../src/assets/simple-header-blended-small.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0px 0px 0px 0px;
    color: white;
    width: 390px;
    height: 280px;
    margin-top: -100px;
  }

  .course-page .title h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 80px;
    line-height: 1;
    padding-top: 130px;
  }

  .course-page .courses-content {
    padding: 30px 0px 0px 20px;
    justify-content: center;
    align-items: center;
  }

  .course-page .courses-content .courses .course {
    display: grid;
    margin-top: 50px;
  }

  .course-page .courses-content .headed {
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #000000;
  }

  .course-page .courses-content .courses .course img {
    width: 350px;
    height: 280px;
  }

  .course-page .courses-content .courses .course div {
   margin: 20px 0px 0px 0px;
  }

  .course-page .courses-content .courses .course div h2  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 30px;
    font-weight: 350;
    letter-spacing: 3px;
    color: #397d9e;
    padding: unset;
    margin: unset;
  }

  .course-page .courses-content .courses .course div p {
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    display: grid;
    width: 340px;
    padding: 15px 0px 20px 0px;
  }

  .course-page .courses-content .courses .course div a button {
    width: 350px;
    padding: 10px 0px;
    background-color: #1e6c93;
    border: none;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    font-size: 15px;
  }

  .course-page iframe {
    width: 350px;
    height: 160px;
    padding: 50px 0px 20px 20px;
    border: none;
  }

  .book-class .title {
    background-color: rgba(34, 110, 147, 1);
    background-image: url(../src/assets/simple-header-blended-small.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0px 0px 30px 0px;
    color: white;
    width: 390px;
    height: 290px;
    margin-top: -90px;
  }

  .book-class .title h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 70px;
    line-height: 1;
    padding-top: 150px;
  }

  .bookclass-page {
    justify-self: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
    padding: 0px 0px 0px 20px;
  }

  .bookclass-page .columns .column form .book-heading {
    border: 1px solid #dadce0;
    border-top: 10px solid #4caf50;
    border-radius: 10px;
    width: 350px;
  }

  .bookclass-page .columns .column form .book-heading .head h3 {
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
    margin: unset;
    padding: 10px 0px 0px 30px;
  }

  .bookclass-page .columns .column form .book-heading .head p {
    margin: unset;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px 0px 10px 30px;
  }

  .bookclass-page .columns .column form .book-heading .head .line-through {
    border-bottom: 1px solid #dadce0;
  }

  .bookclass-page .columns .column form .book-heading .gmail h3 {
    margin: unset;
    padding: 10px 0px 10px 30px;
  }

  .bookclass-page .columns .column form .book-heading .gmail .line-through {
    border-bottom: 1px solid #dadce0;
  }

  .bookclass-page .columns .column form .book-heading .gmail p {
    margin: unset;
    padding: 10px 0px 10px 30px;
    color: red;
    font-size: 14px;
  }

  .bookclass-page .columns .column form .booking {
    border: 1px solid #dadce0;
    border-radius: 10px;
    width: 320px;
    height: 130px;
    padding: 20px 0px 0px 30px;
    margin-top: 20px;
  }

  .bookclass-page .columns .column form .booking label {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 480;
  }

  .bookclass-page .columns .column form .booking input {
    outline: unset;
    border: unset;
    background-color: unset;
    border-bottom: 1px solid #dadce0;
    padding-top: 50px;
    width: 250px;
  }

  .bookclass-page .columns .column form .booking input::placeholder {
    font-size: 15px;
    position: absolute;
    bottom: 5px;
  }

  .bookclass-page .columns .column form .booking input:hover {
    border-bottom: 2px solid #4caf50;
  }

  .bookclass-page .columns .column form .avaliable-course {
    border: 1px solid #dadce0; 
    border-radius: 10px;
    padding: 20px 0px 20px 30px;
    margin: 20px 0px 10px 0px;
    width: 320px;
  }

  .bookclass-page .columns .column form .avaliable-course h2 {
    margin: unset;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding-bottom: 20px;
  }

  .bookclass-page .columns .column form .avaliable-course div {
    margin-top: 10px;
  }

  .bookclass-page .columns .column form .avaliable-course div label {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-left: 10px;
  }

  .bookclass-page .columns .column form .avaliable-course div input {
    outline: unset;
    background-color: unset;
  }

  .bookclass-page .columns .column form .button {
    width: 100px;
    margin-bottom: 5px;
    padding: 8px 0px 8px 0px;
    background-color: #009100;
    border: unset;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }

  .bookclass-page .columns .column form .clear-form {
    color: #009100;
    padding-left: 280px;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    top: -40px;
  }

  .bookclass-page .columns .column form small {
    color: #666363;
    font-size: 14px;
    padding-bottom: 20px;
  }

  .contact-page .title {
    background-color: rgba(34, 110, 147, 1);
    background-image: url(../src/assets/simple-header-blended-small.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0px 0px 0px 0px;
    color: white;
    width: 390px;
    height: 330px;
    margin-top: -120px;
  }

  .contact-page .title h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 70px;
    margin: unset;
    padding-top: 130px;
  }
  .contact-content {
    padding: 20px 0px 0px 20px;
  }

  .contact-content p a {
    color: #0f6e87;
    font-size: 18px;
  }

  .map-container {
    display: none;
  }

  .support-page .title {
    background-color: rgba(34, 110, 147, 1);
    background-image: url(../src/assets/simple-header-blended-small.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0px 0px 30px 0px;
    color: white;
    width: 390px;
    height: 280px;
    margin-top: -90px;
  }

  .support-page .title h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 60px;
    padding-top: 130px;
  }

  .support-page .support-content {
    padding: 40px 0px 0px 20px;
  }

  .support-page .support-content .support-details {
    display: grid;
    gap: 50px;
  }

  .support-page .support-content .support-details .support p {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    margin: unset;
    color: #000000;
    display: grid;
    width: 370px;
    line-height: 2;
  }

  .support-page .support-content .support-details .support span {
    font-size: 23px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    margin: unset;
    color: #000000;
    display: grid;
    width: 350px;
    padding-top: 30px;
  }

  .support-page .support-content .last-p {
    display: grid;
    width: 340px;
    font-size: 19px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2;
    padding-top: 30px;
  }

.team-page .title {
  background-color: rgba(34, 110, 147, 1);
  background-image: url(../src/assets/simple-header-blended-small.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0px 0px 60px 0px;
  color: white;
  width: 390px;
  height: 290px;
  margin-top: -90px;
}

.team-page .title h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 70px;
  margin: unset;
  line-height: 1;
  padding-top: 120px;
}

.team-page .meetourteam-content {
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
}

.team-page .meetourteam-content .meetourteam {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 240px;
}

.team-page .meetourteam-content .meetourteam .team img {
  width: 360px;
  height: 440px;
}

.team-page .meetourteam-content .meetourteam .team {
  text-align: center;
}

.team-page .meetourteam-content .meetourteam .team h2,p {
  margin: unset;
  padding: unset;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
}